<html>

<head>
    <title>Video Streaming Demonstration</title>
</head>

<body>
<h1>视频监控</h1>
<img src="/api/video/private">
<br>
<button id="open" onclick="open_video()">打开</button>
<button id="close" onclick="close_video()">关闭</button>
<script src="/static/js/jquery.min.js"></script>
<script>
		function close_video() {
			$.ajax(
				{
					method: 'PUT',
					url: '/api/video/private/status?option=close',
					success: function (data) {
						if (data == 0) {
							alert("关闭视频失败！");
						}
					}
				}
			);
		}

		function open_video() {
			$.ajax(
				{
					method: 'PUT',
					url: '/api/video/private/status?option=open',
					success: function (data) {
						if (data == 0) {
							alert("打开视频失败！");
						}
					}
				}
			);
		}
</script>
</body>

</html>